html, body {
	margin: 0;
}

@keyframes op {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes pos {
    from {margin-left:-3%;}
    to {margin-left:0%;}
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700);

html { 
  background: url(https://s28.postimg.org/7sts9df65/bgg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
	font-family: 'Montserrat', sans-serif;
}

.header {
	position:fixed;
	width:100vw;
	background: white;
	z-index:3;
}

.logo {
	float:left;
	margin:1.5% 3% 1.5% 10%;
	width:190px;
	animation: mymove 5s infinite;
}


.pillar {
	background: #FF6C39;
	width:6px;
	height:50px;
	float:left;
	margin:1.5% 3% 1.5% 0;
	border-radius: 3px;
}

nav {
	margin-top: 2.5%;
}

.nav {
	color: #FF6C39;
	text-decoration: none;
	font-weight: lighter;
	margin-right: 4%;
}



.fullshadow {
	height:16%;
	background:black;
	opacity: 0.3;
	position:fixed;
	width:100vw;
	z-index:2;
}

.firsttext {
	padding-top: 15%;
	padding-left: 10%;
	margin-bottom:10%;
	animation-name: op, pos;
	/*animation-name: pos;*/
	animation-duration: 3s;
}

i {
	color:white;
	margin:0;
}

.fe {
	color:white;
	font-size: 50px;
	margin-bottom: 0;
	margin-top: 0;
}

.fe2 {
	color: #FF6C39;
	font-weight: lighter;
	font-size: 35px;
	margin-top: 0.5%;
	margin-bottom: 0;
}

.fe3 {
	color: white;
	font-size: 25px;
	margin-top: 0.5%;

}

#signup {
	padding-bottom: 30px;
}

.sign {
	border: solid 2px white;
	display: inline-block;
	padding:5px 30px 10px 30px;
	border-radius: 30px;
	font-size: 35px;
	color:white;
	margin-top: 3%;
	font-weight: lighter;
	transition: color 0.6s, background 0.6s;
}

.gif {
	width:300px;
	margin-top: 60px;
}

.sign:hover {
	color:#FF6C39;
	background:white;
	cursor:pointer;
}

.lectures {
	margin:auto;
	width:80%;
	padding:0;
}

.lect {
	font-size: 25px;
	color: white;
}

.twen {
	font-weight: lighter;
	color: #FF6C39;
}

#cards {
	background:white;
	width:320px;
	box-sizing: border-box;
	padding:0;
	margin-right:15px;
	margin-left: 0;
	/*height:70%;*/
	overflow: hidden;
	position:relative;
	cursor:pointer;
	margin-bottom: 20px;

}

.lecturecards {
	display:flex;
	flex-wrap: wrap;
}

#cardtitle {
	
	background: #FF6C39;
	width:100%;
	box-sizing: border-box;
	/*margin:10px;*/
	padding:10px;
	padding-bottom: 20px;
}

.lecturerpic {
	width:40%;
	margin:10px 20px 10px 10px;
	float:left;
	/*opacity: 0.8;*/
}

.number {
	background: white;
	/*float:right;*/
	/*width:30px;*/
	/*height: 20px;*/
	padding: 10px;
	/*padding-bottom: 20px;*/
	margin-left: 85%;
	text-align: center;
	color: #FF6C39;
}

.name {
	direction: rtl;
	color: white;
	font-weight: lighter;
}

.shape {
	background: white;
	float:right;
	height:6px;
	width:50px;
}


.shade {
	height:6px;
	background:black;
	opacity: 0.3;
	margin:0;
	width:100%;
}

.cardh {
	color: #FF6C39;
	padding-left:10%;
	padding-right: 10%;
}

.shapeor {
	background: #FF6C39;
	height:6px;
	width:50px;
	margin-left: 10%;
}

.about {
	color:#FF6C39;
	padding-left:10%;
	padding-right: 10%;
	font-weight: lighter;
}

.overlay {
	background: #FF6C39;
	height:80%;
	position:absolute;
	top:32%;
	right:120%;
}

#cards:hover .overlay{
	right:0;
	transition:ease 0.5s;


}

.abouthover {
	color:white;
	padding-left:10%;
	padding-right: 10%;
	font-weight: lighter;
	margin-top: 20%;
	width: 50%;
}

.cockpic {
	position:absolute;
	right:-20%;
	top:12%;
}

.shapewh {
	height:6px;
	color:white;

}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 30;
     }

.signup {
	padding:10vw;
	padding-top: 8vh;
	background:#FF6C39;

}

.signflex {
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-right: 10%;
}

.textblocks {
	width: 450px;
}

.fe31 {
	color: white;
	font-size: 25px;
	margin-top: 0.5%;
	font-weight: lighter;

}

.fe311 {
	color:#FF6C39;
	font-size: 25px;
	margin-top: 0.5%;
	font-weight: lighter;

}

.tiny {
	font-size: 15px;
	margin-top: 15px;
	opacity: 0.7;
}

.line {
	background:white;
	height:1px;
}

.lineorange {
	background:#FF6C39;
	height:1px;
}

.theform {
	padding-top: 5%;
	border:none;
	/*margin-bottom: 5%;*/
}

.formwords {
	width:100%;
	box-sizing: border-box;
	padding:1%;
}

.formdiv {
	margin-bottom:0;
	margin-top:1%;
}

.submitt {
	float:right;
	margin-top: 2%;
	border:solid 1px white;
	background:none;
	padding:1.5% 4% 1.5% 4%;
	padding-right: 4%;
	direction: ltr;
	border-radius: 0px;
}

#directions {
	padding-bottom: 30px;
}

.get {
	padding:10vw;
	padding-top: 8vh;
	background:white;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.orange {
	color:#FF6C39;
}

.light {
	font-weight: lighter;
}

iframe {
	width:450px;
}

#moreinfo {
	padding-top: 120px;
}

.infosec {
	padding:10vw;
	padding-top: 8vh;
	background:#FF6C39;

}

ul {
	list-style:none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding:0;
}

li {
	width:200px;
	margin-bottom: 20px;
}

.imagesdiv {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	width:200px;
}

.cirpic {
	width:200px;
}

.colorimg {
	position: absolute;
	top:0px;
	left:0px;
	z-index:1;
	opacity:0;
	transition: opacity 0.3s ease-out;
	cursor:pointer;
	width:200px;
}

.imagesdiv:hover .colorimg {
	opacity:1;
}

.white {
	color:white;
	padding:0;
}

.footertext {
	display: flex;
	justify-content:space-between;
	align-items:center;
}

.footertext2 {
	display: flex;
	justify-content:space-between;
	align-items:center;
}

.want {
	margin-right: 20px;
}

.logonet {
	width:200px;
	margin-right: 20px;
	margin-left: -20px;
}

@media (max-width: 715px) {

	.fullshadow {
		height:13%;
	}

	nav {
		display:none;
	}

	.pillar {
		display:none;
	}

	.firsttext {
		padding-top: 20%;
		margin-bottom: 20%;
	}

	.signflex {
		flex-direction: column-reverse;
	}

	.gif {
		width: 200px;
		margin-bottom: 30px;
	}

	.center {
		text-align: center;
	}

	.footertext {
		flex-direction: column;
	}

	.colorimg {
		opacity: 1;
	}
}